<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pcplay">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PCPlay">
        <activity
            android:name=".Activity.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PlayerActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:screenOrientation="landscape"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.AppCompat.FullScreen"
            tools:targetApi="n" />
        <activity
            android:name=".Activity.LogActivity.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LogActivity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LogActivity.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.OnBoardingActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>